# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (shared libraries)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Other files
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.swn
*.DS_Store

# IDE specific files
.vscode/
.idea/
*.code-workspace

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
